{
	"rules": {
        "no-unused-vars": [
            2,
            {
                "args": "none",
                "varsIgnorePattern": "^h$"
            }
        ]
    },
    "extends": "../.eslintrc"
}
