{
	"env": {
        "test": {
            "plugins": [
                "rewire",
                "./tools/babel-plugin-preact-to-react.js",
            ],
            "presets": ["react"]
        },
        "webpack": {
            "presets": ["react", "latest"],
            "plugins": [
                ["transform-react-jsx", { "pragma": "h" }]
            ]
        }
    },
    "presets": [
        [
            "latest", {
                "es2015": false
            }
        ]
    ],
    "plugins": ["transform-es2015-modules-commonjs"]
}
